<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        {% block meta %}
            <meta name="description" content="Interactive ASL lesson">
            <meta name="author" content="Team Arcsign">
        {% endblock %}

        {% assets "common_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
        {% endassets %}

        {% block css %}
        {% endblock %}
    </head>

    <body>
        <div class="container" id="arcsign">
            {% block body %}
            {% endblock %}
        </div>

        {% assets "common_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        <script type="text/template" id="question-template">
            <div class="row text-center">
                <div class="col-sm-12">
                    <h2 class='answer'><%- answer %></h2>
                    <% if (video) { %>
                        <video autoplay="" controls="" loop="" preload="auto" width="320" height="240" data-setup="{}">
                            <source src="<%- video %>" type="video/mp4">
                        </video>
                    <% } %>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-12">
                    <h3 class="text-danger">Recording</h3>
                    <h3 class="text-success">Correct</h3>
                </div>
            </div>
        </script>
        
        {% block js %}
        {% endblock %}
    </body>
</html>
