{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3 nav-menu">
            <h1>Arcsign</h1>
            <a id="start-over">Start Over</a>
            <p></p>
            <p>
                Beginner ASL lesson with LeapMotion. Check us out on <a href='https://github.com/marielb/arcsign'>Github</a>
            </p>
        </div>
        <div class="col-sm-6" id="question-box">
        </div>
    </div>
{% endblock %}