{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3 nav-menu">
            <h1>Arcsign</h1>
            <a id="start-over">Start Over</a>
            <ul>
                <li>me</li>
                <li>hungry</li>
                <li>you</li>
                <li>i am hungry (type)</li>
                <li>are you hungry? (gesture)</li>
                <li>you are hungry (type)</li>
                <li>drink</li>
                <li>want</li>
                <li>i want to drink (gesture)</li>
                <li>do you want to drink? (type)</li>
            </ul>
            <a id="prev-question"><--Prev</a> <a id="next-question">Next--></a>
        </div>
        <div class="col-sm-6" id="question-box">
        </div>
    </div>
{% endblock %}